<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund-a-Farm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="nav-wrapper teal">
        {{!-- <h1 class="teal">
            <span role="img" aria-label="">IMAGE</span>
        </h1> --}}
        <nav>
            <div class="nav-wrapper blue">
                <a href="/" class="brand-logo right"><img style="height: 5vh"
                        src="https://i.etsystatic.com/8601213/r/il/05f451/2552054888/il_794xN.2552054888_frmu.jpg">Fund
                    My Farm</a>
                <li id="nav-mobile" class="left hide-on-med-and-down">
                    {{#if logged_in}}
                    <li><a href="/profile">profile</a></li>
                    <li><button class="no-button" id="logout">logout</button></li>
                    {{else}}
                    <li><a href="/login">login</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

       <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

    <!--Script renders only if logged in-->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>