<!--Main section of the homepage-->
<div class="#">
    {{#each farms as |farm| }}
    <h2>
        <a href="/farm/{{farm.id}}">{{farm.farm_name}}</a>
    </h2>
    <p>
        {{farm.description}}
    </p>
    {{/each}}
</div>
<!--Sidebar if we can-->
<div>

</div>